<table class="table">
    <tbody>
        <tr>
            <th class="col-lg-2">Dominio:</th>
                <td>{{ parametro.dominio }}</td>
        </tr>
        <tr>
            <th class="col-lg-2">Tipo:</th>
                <td>{{ parametro.tipo }}</td>
        </tr>
        <tr>
            <th class="col-lg-2">Codigo:</th>
                <td>{{ parametro.codigo }}</td>
        </tr>
        <tr>
            <th class="col-lg-2">Valor:</th>
                <td>{{ parametro.valor|nl2br }}</td>
        </tr>
        <tr>
            <th class="col-lg-2">Orden:</th>
                <td>{{ parametro.orden }}</td>
        </tr>
    </tbody>
</table>